{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <form class="form-inline">

<form action="#" method="POST">
    {% csrf_token %}

    <label class="my-1 mr-2" for="maxResolution">Resolution</label>
  <select class="custom-select my-1 mr-sm-2" id="maxResolution" name = "maxResolution">
    <option value="6000x4000">6000x4000</option>
    <option value="5472x3648">5472x3648</option>
    <option value="5184x3456">5184x3456</option>
  </select>
    <input type="submit" value="OK">
</form>
  <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck1">
  <label class="custom-control-label" for="sZero">6000x4000</label>
</div>
        <h3>Categories</h3>

        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">All</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in products %}
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card" style="width: 18rem;background-color: Gainsboro;height: 380px;">
                        <a href="{{ product.get_absolute_url }}">
                            <img style="width: 17rem; margin-left: 2%;margin-top: 2%;" 
                            src="{{ MEDIA_URL }}{{ product.image.url }}"class="rounded"/>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title" ><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                            <p class="card-text"><p>{{ product.price }}</p></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}