{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div class="w3-sidebar w3-bar-block w3-large w3-light-grey" style="width:15%;">
        <small>
        <form method="POST" class="form-inline">
        {% csrf_token %}
        <a class="w3-bar-item">
        <div class="w3-dropdown-hover">
            <button class="w3-button w3-green">Category</button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                {% for d in lists.listC %}
                <a class="w3-bar-item w3-button">
                <h5><input type="checkbox" name="categorys" value="{{ d }}" />{{ d }}</h5>
                </a>
                {% endfor %}

            </div>
        </div>
    </a>
    <a class="w3-bar-item">
        <div class="w3-dropdown-hover">
            <button class="w3-button w3-green">Resolution</button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                {% for d in lists.listRes %}
                <a class="w3-bar-item w3-button">
                <h5><input type="checkbox" name="resolution" value="{{ d }}" />{{ d }}</h5>
                </a>
                {% endfor %}

            </div>
        </div>
    </a>
    <a class="w3-bar-item">
        ₽ min Price
    </a>
    <div class="col">
      <input type="text" class="form-control" placeholder="min.price" value = '6000' name = "minPrice" style="width:160px;">
    </div>
    <a class="w3-bar-item">
        ₽ max Price
    </a>
    <div class="col">
      <input type="text" class="form-control" placeholder="max.price" value = "1000000" name = "maxPrice"style="width:160px;">
    </div>
    <a class="w3-bar-item">
        Excerption
    </a>
    <div class="col">
      <input type="text" class="form-control" placeholder="Excerpt" value = "0" name = "expre"style="width:160px;">
    </div>
    <a class="w3-bar-item">
        Megapixels
    </a>
    <div class="col">
      <input type="text" class="form-control" placeholder="Megapixels" value = "2" name = "megapixels"style="width:160px;">
    </div>
        <input type="submit" value="Search" >
        </form>

</div>
</small>
<div style="margin-left:7%">

<div class="w3-container">
    <div id="content" name="content" class="main">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in products %}
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card" style="width: 18rem;background-color: Gainsboro;height: 380px;">
                        <a href="{{ product.get_absolute_url }}">
                            <img style="width: 17rem; margin-left: 2%;margin-top: 2%;" 
                            src="{{ MEDIA_URL }}{{ product.image.url }}"class="rounded"/>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title" ><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                            <p class="card-text"><p>price:₽ {{ product.price }}</p></p>
                            <p class="card-text"><p>rating:{{ product.rating }}/5</p></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}